/* Cor da logo #3053a5*/
@font-face {
    font-family: OCRAStd;
    src: url('fonts/OCRAStd.otf');
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body{
    font-family: sans-serif;
    background-image: url('../imagens/background2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

/* CABEÇALHO */
header{
    width: 100%;
    height: 90px;
    background-color: #000000;
    padding-top: 5px;
    z-index: 999px;
    position: fixed;
    font-family: "OCRAStd";
}

.contentCentralizar{
    width: 1300px;
    height: 85px;
    margin-left: auto;
    margin-right: auto;
}

.logoHeader{
    width: 230px;
    height: 85px;
    float: left;
    background-image: url('../imagens/teste2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content_menu{
    width: 650px;
    height: 85px;
    float: right;
}

.caixas{
    width: 150px;
    height: 40px;
    text-align: center;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-style: 900;
    font-size: 17px;
    color: white;
    line-height: 40px;
    vertical-align: middle;
}

.caixas:hover{
    transition: 0.3s;
    border-bottom: solid 5px #FFFFFF;
}
/* FIM CABEÇALHO */

/* div que alinha o conteudo com o header */
.alinhamento{
    width: 100%;
    height: 90px;
}

/* div que fica logo abaixo do header area do logo */
.full_principal{
    width: 100%;
    height: 99%;
}

.content{
    width: 1300px;
    min-height: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* background-color: pink; */
}

#logo{
    width: 800px;
    height: 300px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;

}

#logo img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#slogan{
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: "OCRAStd";
}

/* area do site que fala sobre a empresa */
.segundo_full{
    width: 100%;
    min-height: 400px;
    height: auto;
    background-color: rgba(255, 255, 255, 1);
    padding-bottom: 30px;
    overflow: auto;
}

#esquerda{
    width: 60%;
    min-height: 420px;
    height: auto;
    float: left;
}

.titulo{
    width: 98%;
    height: 60px;
    font-size: 30px;
    font-family: "OCRAStd";
    text-decoration: none;
    font-weight: 900;
    line-height: 60px;
    vertical-align: middle;
    padding-left: 15px;
}

#texto_fazemos{
    width: 100%;
    min-height: 200px;
    height: auto;
    float: left;
    font-size: 23px;
    font-family: sans-serif;
    text-align: justify;
    /* background-color: orange; */
}

.pula1{
    margin-top: 15px;
}

.pula{
    margin-top: 15px;
    font-family: "OCRAStd";
}

#direita{
    width: 35%;
    height: 420px;
    margin-top: 60px;
    float: left;
    margin-left: 5%;
}

#imagem{
    width: 100%;
    height: 100%;
    float: left;
}

#imagem img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* seção de missão, visão e valores */
.missao_visao_valores{
    width: 1300px;
    height: 300px;
    clear: both;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

.icones_informacoes{
    width: 380px;
    height: 250px;
    float: left;
    margin-left: 30px;
    padding-left: 10px;
}

.texto_informacoes{
    width: 99%;
    min-height: 85%;
    float: left;
    font-size: 23px;
    font-family: sans-serif;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
}


/* div que da um espaçamento entre as sections */
.full{
    width: 100%;
    height: 450px;
}

#fundo2{
    background-image: url('../imagens/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/*area de soluções desenvolvidas pelas empresas*/
.segura{
    width: 1100px;
    min-height: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.icones{
    width: 310px;
    min-height: 220px;
    height: auto;
    float: left;
    margin-left: 30px;
    padding-left: 10px;
}

.icone_redondo{
    width: 220px;
    height: 220px;
    background-color: #3053a5;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

.icone_redondo_estilo{
    width: 190px;
    height: 190px;
}

.icone_redondo:hover{
    background-color: #1540a5;
}

.icone_redondo img{
    margin-left: 60px;
    margin-top: 60px;
}

.descricao{
    width: 270px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
}

/* area de portifolio do site */
.portfolio{
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}

.texto_protfolio{
    text-align: center;
    font-size: 25px;
    font-family: "OCRAStd";
    margin-top: 20px;
}

.area_protfolio{
    width: 70%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.imagens_protfolio{
    width: 50%;
    height: 500px;
    float: left;
}

.imagens_protfolio img{
    min-width: 0;
    min-height: 0;
}

.imagens_protfolio_mobile{
    width: 350px;
    height: 500px;
    float: left;
    margin-left:70px;
}

.imagens_protfolio_unico{
    width: 500px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
}

footer{
    width: 100%;
    height: 80px;
    background-color: #000000;
    font-size: 1.2em;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
    color: #dcdcdc;
}

/* caixa que abre a modal fale conosco */
#abrirModal{
    margin-left: 10px;
}

/* fechar modal */
.fechar{
    width: 50px;
    height: 50px;
    float: right;
    margin-top: -110px;
    margin-right: 10px;
    background-image: url('../imagens/fechar.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

/*  personalização da barra de rolagem */
::-webkit-scrollbar-thumb{
    background-color: #FFF;
    height: 3px;
}

::-webkit-scrollbar{
    height: 8px;
    width:  7px;
    background-color: #454545;
}

/* formatação dos links */
a:link{
    text-decoration: none;
    color: #FFFFFF;
}
a:visited{
    text-decoration: none;
    color: #FFFFFF;
}
a:active{
    text-decoration: none;
    color: #FFFFFF;
}
